@import url('../css/global.css');

/* Gallery */
.gallery {
  padding: 110px 0;
  background: var(--text-white); 
  text-align: center;
  padding: 60px 0;
  position: relative;
}

.gallery::before {
  margin: -45px 0 0 0;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background: var(--line-separator);
}

.gallery .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.gallery h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.gallery p {
  font-size: 1.1rem;
  color: var(--paragraph);
  margin-bottom: 40px;
}

/* Grid Gallery */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Card Flip */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px; /* Effect 3D */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* Image fit */
.flip-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: var(--text-white);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .flip-card {
    height: 400px; /* Aumenta la altura para que se aprecie mejor la imagen */
  }
}